<header class="mv4">
	<p class="helvetica mv0">
		<a class="no-underline" href="{{ "/" | prepend: site.baseurl }}">Home</a>
		<a class="no-underline" href="{{ "/book-list" prepend: site.baseurl }}">Book List</a>
		<a class="no-underline" href="{{ "/about" | prepend: site.baseurl }}">About</a>
	</p>


	  {% if page.title == 'Home' %}
		  <h1 class="f1 helvetica underline orange mt3 mb0"><span style="display:block;width:300px">{{ site.title }}</span></h1>
		  <p class="f5 helvetica pt0 ma0 dark-green">{{ site.description }} </p>
	  {% endif %}
</header>
