/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    margin-bottom: 0rem;
}

.c-archives__year {
    margin-bottom: 1rem;
    @include fs--heading-3;
}

.c-archives .c-archives__year {
    display: flex;
    justify-content: center;
    //background-color: rgba(255, 133, 82, 0.3);
    //border-bottom: 3px solid $c-accent__blue;
    //border-top: 3px solid $c-accent__blue;
}

.c-archives__list {
    margin-bottom: 2.5rem;
    list-style: none;
}

.c-archives__item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #EFF1F3;
    @media screen and (min-width: $bp__sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

	b {
		font-size: 1.2em;
	}

    h3 {
        @include fs--body;
		line-height: 1.2em;
    }

    p {
        @include fs--body;
        color: $c-accent__darkblue;
    }
}
