/* ==========================================================================
   Page
   ========================================================================== */

.academic {
  font-family: "Time New Roman";
  font-size: 1em;
  line-height: 1.75em;
  color: black;
  background-color: white;
}

.indent {
  text-indent: 30px;
}

a.booklist {
	margin-bottom: 30px;

    &::after {
	  background-color: $c-accent__green;
	}

	&:hover {
		&::after {
			height: 65%;
		}
	}
}

.profile {
	width: 23vh;
	float: right;
	margin-right: 0px;	
	margin-left: 10px;
}

@media screen and (max-width: 565px) {
  .profile {
	display: block;
	float:none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
  }
}

input {
  -webkit-transition: font-size 0.05s;
  /* For Safari 3.1 to 6.0 */
  transition: font-size 0.05s;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  font-size: 2em;
  border-bottom: 1px solid $c-base__02;
  color: $c-accent__blue;
  &#home {
    font-size: 2em;
  }
  &#book-list {
    font-size: 1em;
  }
  margin-bottom: 15px;
  width: 100%;
  outline: none;
}

input:focus {
  &#home {
    font-size: 5em;
  }
  &#book-list {
    font-size: 2em;
  }
}

input::placeholder {
  color: lightgrey;
}

.c-page__header {
    margin-bottom: 3rem; // 100px

    h1 {
		margin-top: 25px;
        //padding-bottom: 100px; // 25px
        @include fs--heading-2;
        font-family: "Helvetica";
		font-size: 5em;
        font-weight: bold;
        text-decoration: underline;
        //text-shadow: -2px 0px $c-base__1;
        //color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
    }
}
