/* ==========================================================================
   Page
   ========================================================================== */

.academic {
  font-family: "Time New Roman";
  font-size: 1em;
  line-height: 1.75em;
  color: black;
  background-color: white;
}

.indent {
  text-indent: 30px;
}

.c-page {

}

.profile {
	width: 20vh;
	float: right;
	margin-right: 20px;	
	margin-left: 60px;
}

@media screen and (max-width: 565px) {
  .profile {
	display: block;
	float:none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
  }
}

.c-page__header {
    margin-bottom: 3rem; // 100px

    h1 {
		margin-top: 25px;
        //padding-bottom: 100px; // 25px
        @include fs--heading-2;
        font-family: "Helvetica";
		font-size: 5em;
        font-weight: bold;
        text-decoration: underline;
        //text-shadow: -2px 0px $c-base__1;
        //color: $c-base__02;
    }

    p {
        @include fs--meta;
    }
}

.c-page__footer {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
    }
}
